<div id="food-box" class="login-popup">
<a href="#" class="close"><img src="/images/close-icon.png" class="btn_close" title="Close Window" alt="Close" /></a>
  <form method="post" class="signin" action="/api/food">
        <fieldset class="textbox">
        <label class="username">
        <span>name</span>
        <input id="name" name="name" value="" type="text" autocomplete="on" placeholder="name">
        </label>
        <label class="username">
        <span>foodclass</span>
        <input id="foodclass" name="foodclass" value="" type="text" autocomplete="on" placeholder="foodclass">
        </label>
        <label class="username">
        <span>price</span>
        <input id="price" name="price" value="" type="text" autocomplete="on" placeholder="price">
        </label>
        <label class="username">
        <span>spicelevel</span>
        <input id="spicelevel" name="spicelevel" value="" type="text" autocomplete="on" placeholder="spicelevel">
        </label>
        <label class="username">
        <span>availability</span>
        <input id="availability" name="availability" value="" type="text" autocomplete="on" placeholder="availability">
        </label>
     
        <label class="username">
        <span>description</span>
        <input id="description" name="description" value="" type="text" autocomplete="on" placeholder="description">
        </label>
        <button class="submit button" type="submit">Sign in</button>
        <p>
        <a class="forgot" href="#">Forgot your password?</a>
        </p>        
        </fieldset>
  </form>
</div>



