<div id="signup-box" class="login-popup">
  <a href="#" class="close"><img src="/images/close-icon.png" class="btn_close" title="Close Window" alt="Close" /></a>
    <form method="post" class="signin" action="/signup">
          <fieldset class="textbox">
          <label class="username">
          <span>Username</span>
          <input id="username" name="username" value="" type="text" autocomplete="on" placeholder="Username">
          </label>
          <label class="name">
          <span>Name</span>
          <input id="name" name="name" value="" type="text" autocomplete="on" placeholder="Name">
          </label>
          <label class="address">
          <span>Address</span>
          <textarea id="address" name="address" placeholder="Address"></textarea>
          </label>
          <label class="phone">
          <span>Phone Number</span>
          <input id="phone" name="phone" value="" type="text" autocomplete="on" placeholder="phone">
          </label>
          <label class="email">
          <span>Email Id</span>
          <input id="email" name="email" value="" type="text" autocomplete="on" placeholder="email">
          </label>
          <label class="password">
          <span>Password</span>
          <input id="password" name="password" value="" type="password" placeholder="Password">
          </label>
          <label class="confirm_password">
          <span>Confirm Password</span>
          <input id="confirm_password" name="confirm_password" value="" type="password" placeholder="Confirm Password">
          </label>
          <button class="submit button" type="submit">Sign up!!</button>
          <p>
          </p>        
          </fieldset>
    </form>
</div>