<!DOCTYPE HTML>
<html>
	<head>
      <% include partials/templates/head.ejs %>
	</head>
	<body>
    <div id="container">
      <% include partials/templates/header.ejs %>
      <div class="wrapper">
        <div class="home-widget left">
          <a href="/api/food?type=indian">
          <h3>Indian</h3>
          <img src="images/home/indian.jpg" alt="" />
          <p>Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae.</p>
          </a>
        </div>
        <div class="home-widget right">
          <a href="/api/food?type=chinese">
          <h3>Chinese</h3>
          <img src="images/home/chinese.jpg" alt="" />
          <p>Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae.</p>
          </a>
        </div>
        <div class="home-widget left">
          <a href="/api/food?type=mexican">
          <h3>Mexican</h3>
          <img src="images/home/mexican.jpg" alt="" />
          <p>Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae.</p>
          </a>
        </div>
        <div class="home-widget right">
          <a href="/api/food?type=italian">
          <h3>Italian</h3>
          <img src="images/home/italian.jpg" alt="" />
          <p>Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae.</p>
          </a>
        </div>
      </div>
      <% include partials/templates/footer.ejs %>
    </div>
</body>
</html>