<footer>
    <div class="border2"></div>
    <br />
    <span class="copyright"><span class="left"><br />
     	&copy; Copyright 2012 - All Rights Reserved - <a href="#">Platter</a></span>
     	<span class="right"><br />
        	Created by <a href="https://www.linkedin.com/in/nethracsashikar">Nethra C Sashikar</a><br />
        <br>
        <br />
        </span>
    </span>
</footer>